body {
  background-color: #f8f9fa;
}
.container {
  margin-top: 60px;
  max-width: 1500px;
}
.form-container {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

#searchInput {
  width: 387px;
}

#btnSalvar, #btnCancelar {
   /* Aumenta a largura dos botões */
  height: 40px;
  margin-left: 32px; /* Espaço consistente entre eles */
  margin-top: 29px;
}

#btnCancelar {
  width: 150px;
  margin-right: 43rem; 
}

.table-container {
  margin-top: 20px;
}

.table
  .thead-dark {
    th {
      color: #fff;
      background-color: #0069d9;
      border-color: #0069d9;
    }
  }

.text-center {
  margin-top: 32px;
  margin-bottom: 32px;
}

/* botões editar, excluir */
.actions-cell {
  display: flex;
  gap: 8px;
}

/* Ajustes para dispositivos móveis */
@media (max-width: 1920px) {
  .form-container, .table-container {
      padding: 15px;
  }
  .form-row .form-group {
      margin-bottom: 15px;
  }
    #btnCancelar {
      height: auto;
      margin-left: 16px;
    }
}

/* Ajuste da largura da tabela para dispositivos móveis */
.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  }

  /* Define o contêiner da tabela com rolagem vertical */
.table-container {
  max-height: 400px; /* Define a altura máxima da tabela */
  overflow-y: auto; /* Habilita o scroll vertical */
  border: 1px solid #ccc; /* Adiciona uma borda ao contêiner */
  margin-top: 10px; /* Espaçamento superior */
}